﻿@model DATA.QUESTION
    @if (Model != null) { 
    <tr>
        <td>@Model.QUESTION_CONTENT</td>
        <td >@using (Html.BeginForm("PositionUp", "Test", FormMethod.Post, new { @style = "float:left" }))
        {
            
            <button type="submit">+</button>
        }
        
            @using (Html.BeginForm("PositionDown", "Test", FormMethod.Post, new { @style = "float:left" }))
            {

                <button type="submit">-</button>
            }
        
            @using (Html.BeginForm("GetOut", "Test", FormMethod.Post, new { @style = "float:left" }))
        {
            
            <button type="submit">Kiszed</button>
        }
            
    </td>
    
    </tr>
    }