﻿@model List<DATA.QUESTION>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Teszt készítése</h2>
<h3>Tantárgy: @ViewBag.CurrSubject</h3>


<h3>Eddig hozzáadott kérdések</h3>
<table class="table">
    @foreach(DATA.QUESTION question in Model)
    {
        @Html.Action("GetAddedQuestions", "Test", question);
    }
</table>

