﻿@using WebLayer.Models
@model SubjectListViewModels
@{
    ViewBag.Title = "Dolgozat";
    }

<h2>Dolgozat</h2>

<hr />
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("CreateTest", "Test", FormMethod.Post))
        {   
            <p>@Html.DropDownListFor(m=>m.selectedSubject,new SelectList(Model.subjects,"SUBJECT_ID","SUBJECT_NAME"))</p>
            <p><button>Dolgozat hozzá adása</button></p>

        }
        <form>
            <lablel>Dolgozat kiválasztása: </lablel><select>
                <option>Témazáró</option>
                <option>Kis dolgozat</option>
                <option>Röpdolgozat az állatokból</option>

            </select>
            <button type="submit">Dolgozat lekérése</button>
        </form>
    </div>
</div>

