﻿
@{
    ViewBag.Title = "Index";
    DATA.USER currUser = (DATA.USER)Session["User"];
}

<h2>Profil</h2>
<hr />
<div class="row">
    <div class="col-lg-12">
        <h3>Oldalon elért adatok</h3>
    </div>
</div>
<div class="row">
    @using (Html.BeginForm("ClosePage", "Profile", FormMethod.Get))
    {
        <button type="submit"> Bezár</button>
    }
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        <h1>Statisztika</h1>
    </div>
    <div class="col-lg-1">

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3>Személyes adatok</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        <div class="table-responsive">
            <table class="table">

                <tr>
                    <th>Név: </th>
                    <th style="text-align:right">Magdi</th>
                </tr>
                <tr>
                    <th>Belépö azonosító: </th>
                    <th style="text-align:right">currUser.USER_NAME</th>
                </tr>
                <tr>
                    <th>Születési Dátum:</th>
                    <th style="text-align:right">currUser.USER_BDATE.ToString()</th>
                </tr>
                <tr>
                    <th>Felhasználó típusa:</th>
                    <th style="text-align:right">currUser.USER_AUTH.ToString()</th>
                </tr>

            </table>

        </div>
        <div class="col-lg-1">

        </div>
    </div>


</div>

