﻿@using WebLayer.Models
@model ClassMateModel
            <tr>
                <!--TODO: Átkell rakni DTOkba-->
                <td>@Html.DisplayFor(m => m.classMate.USER_NAME)</td>
                <td>@Html.DisplayFor(m => m.classMate.USER_BDATE)</td>
                <td>@Html.DisplayFor(m=>m.classMate.USER_ID)</td>
                
                @using (Html.BeginForm("ToCorrect", "Class",FormMethod.Post ))
                {
                    
                    <td>@Html.DropDownListFor(m=>m.SelectedTestID,new SelectList(Model.tests,"EXERCISE_ID","EXERCISE_NAME"))</td>
                    <td><button type="submit">Javítható kérdések</button></td>

                }
            </tr>
