﻿@using WebLayer.Models
@model List<QUESTIONModel>
@{
    ViewBag.Title = "CorrectList";
}


<table class="table">
    @{ foreach (QUESTIONModel exercise in Model)
        {
            <tr>
                <td>@exercise.QUESTION_CONTENT</td>
                <td>@exercise.QUESTION_SCORE</td>
            </tr>
        }

    }
</table>

