﻿@using WebLayer.Models
@model ClassViewModel
@{
    ViewBag.Title = "Osztályok";


}
@Model.ClassList.Count
@using (Html.BeginForm("Index", "Class",FormMethod.Post))
{

    
    @Html.DropDownListFor(m => m.Class,new SelectList(Model.ClassList,"CLASS_ID","CLASS_NAME"))
    <button type="submit">Küld</button>
}


<h2>Osztályok</h2>
@if (Model.UserList != null)
{
    <table class="table">
        @foreach (USERModel user in Model.UserList)
        {
         @Html.Action("GetMate", "Class", user.USER_ID.ToString())

        }
    </table>
}
else
{
    <h2>Nincs kiválasztva/ilyen osztály</h2>
}


