﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClosePage</title>
</head>
<body>
    <div> 
        <script type="text/javascript">

                var win = window.open("about:blank", "_self");

                win.close();

        </script>
    </div>
</body>
</html>
