﻿
@{
    BusinessLogic.FakeLogic fake = new BusinessLogic.FakeLogic();
    List<SelectListItem> sli = fake.OsszesTantargyLekerese().Select(u=> new SelectListItem { Text=u.SUBJECT_NAME, Value=u.SUBJECT_ID.ToString()}).ToList();
    ViewBag.Title = "Feladatok";
}

<h2>Feladatok</h2>
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("SendExercise", "Exercises", FormMethod.Post)) { 

            <p><label>Feladat neve:</label><input type="text"></p>
            using (Html.BeginForm("Index", "ExercisesController", FormMethod.Post))
            {
                @Html.DropDownList("ddlTantárgy", sli, "Tantárgy")
                <button type="submit">Feladat típus választás</button>
            }
            
                
            <p>
                <label>Adja meg a feladat leírását: </label><br />
                <textarea rows="5" cols="40"></textarea>
            </p>
            
            <button type="submit" class="btn btn-default">Küldés</button>
        }
    </div>
    </div>

