﻿

    @Html.TextBox("tbAnswer1")@Html.CheckBox("cbAnswe1")<br/>
    @Html.TextBox("tbAnswer2")@Html.CheckBox("cbAnswe2")<br/>
    @Html.TextBox("tbAnswer3")@Html.CheckBox("cbAnswe3")<br/>
    @Html.TextBox("tbAnswer4")@Html.CheckBox("cbAnswe4")<br/>
    <button type="submit">Feladat feltöltése</button>
    

