﻿@using WebLayer.Models
<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/Style.css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="login">

        <h2 class="login-header">Log in</h2>
        @using(Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-container" })) {

     @Html.AntiForgeryToken()


            
            <p>@Html.TextBox("tbUserName","",new { @placeholder = "Felhasználónév" })</p>
            <p>@Html.Password("tbUserPass","",new { @placeholder = "Jelszó" })</p>
            <p><input type="submit" value="Bejelentkezés"></p>
        
        }
    </div>
</body>

</html>
@{
    ViewBag.Title = "Bejelentkezés";
}
